@keyframes hideLoader {
    0% {
        width: 100%;
        height: 100%
    }
    100% {
        width: 0;
        height: 0
    }
}

div>div.loader {
    position: fixed;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 1071;
    opacity: 0;
    transition: opacity .5s ease;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center
}

div:not(.loaded)>div.loader {
    opacity: 1
}

div:not(.loaded) {
    overflow: hidden
}

div.loaded>div.loader {
    animation: hideLoader .5s linear .5s forwards
}

.loading-animation {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #009B72;
    border-radius: 100%;
    animation: pulse 1s infinite ease-in-out
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}